
<div class="grid-block shrink">
  <div class="grid-content">
    <label>
      <input type="search" placeholder="Alpha Centauri" ng-model="Ctrl.query" ng-change="Ctrl.queryChanged()" ng-class=""/>
      <div class="results">
        <section class="block-list"></section>
        <ul>
          <li ng-repeat="cities in Ctrl.cities" ng-animate="ng-animate" class="toggle"> <a ui-sref="start.engage({city: cities.formatted_address, lat: cities.geometry.location.lat, long: cities.geometry.location.lng})">{{cities.formatted_address}}</a></li>
        </ul>
      </div>
    </label>
  </div>
  <div class="grid-content">
    <div class="button-group">
      <button type="button" ng-click="Ctrl.auth.$authWithOAuthPopup('github')" ng-show="!Ctrl.profile" class="dark"> <i class="fi-social-github"></i></button>
      <button type="button" ng-click="Ctrl.auth.$unauth()" ng-show="Ctrl.profile" class="dark">Logout </button>
      <div ng-if="Ctrl.profile">
        <button type="button" ng-model="Ctrl.check.weather" btn-checkbox="btn-checkbox" class="dark slide-left"><i class="fi-cloud"></i></button>
        <button type="button" ng-model="Ctrl.check.news" btn-checkbox="btn-checkbox" class="dark slide-left"><i class="fi-social-hacker-news"></i></button>
        <button type="button" ng-model="Ctrl.check.toDo" btn-checkbox="btn-checkbox" class="dark slide-left"><i class="fi-checkbox"></i></button>
      </div>
    </div>
  </div>
</div>
<ui-view name="weather" ng-if="Ctrl.check.weather"></ui-view>
<ui-view name="news" ng-if="Ctrl.check.news"></ui-view>
<ui-view name="toDo" ng-if="Ctrl.check.toDo"></ui-view>