
<div class="align-spaced grid-block">
  <masonry load-image="false" class="grid-content">
    <div ng-repeat="topNews in nCtrl.hackerNews.news" class="masonry-brick">
      <div class="custom-card">
        <div class="custom-card-divider"><a id="icon" ng-click="nCtrl.favorite()" ng-class="{true: 'visited', false: ''}[isActive]"><i class="fi-social-hacker-news"></i></a><a id="link" href="{{topNews.url}}">{{topNews.title}}</a></div>
        <div class="custom-card-section">
          <div class="score">{{topNews.score}}</div>
          <div class="date">{{topNews.time | Time}}</div>
        </div>
      </div>
    </div>
    <div ng-repeat="topAsk in nCtrl.hackerNews.ask" class="masonry-brick">
      <div class="custom-card">
        <div class="custom-card-divider"><a id="icon" ng-click="nCtrl.favorite()" ng-class="{true: 'visited', false: ''}[isActive]"><i class="fi-social-hacker-news"></i></a><a id="link" href="{{topAsk.url}}">{{topAsk.title}}</a></div>
        <div class="custom-card-section">
          <div class="date">Release: {{topAsk.time | Time}}</div>
          <div class="score">Score: {{topAsk.score}}</div>
        </div>
      </div>
    </div>
    <div ng-repeat="topShow in nCtrl.hackerNews.show" class="masonry-brick">
      <div class="custom-card">
        <div class="custom-card-divider"><a id="icon" ng-click="nCtrl.favorite()" ng-class="{true: 'visited', false: ''}[isActive]"><i class="fi-social-hacker-news"></i></a><a id="link" href="{{topShow.url}}">{{topShow.title}}</a></div>
        <div class="custom-card-section">
          <div class="score">{{topShow.score}}</div>
          <div class="date">{{topShow.time | Time}}</div>
        </div>
      </div>
    </div>
  </masonry>
</div>