.grid-block.shrink
	.grid-content
		label
			input(type="search" placeholder="Alpha Centauri" ng-model="Ctrl.query" ng-change="Ctrl.queryChanged()" ng-class='')
			.results
				section.block-list
				ul
					li(ng-repeat="cities in Ctrl.cities" ng-animate).toggle 
						a(ui-sref='start.engage({city: cities.formatted_address, lat: cities.geometry.location.lat, long: cities.geometry.location.lng})') {{cities.formatted_address}}
	.grid-content
		.button-group
			button.dark(type="button" ng-click="Ctrl.auth.$authWithOAuthPopup('github')" ng-show="!Ctrl.profile") 
				i.fi-social-github
			button.dark(type="button" ng-click="Ctrl.auth.$unauth()" ng-show="Ctrl.profile") Logout 
			div(ng-if="Ctrl.profile")
				button.dark(type="button" ng-model="Ctrl.check.weather" btn-checkbox).slide-left
					i.fi-cloud
				button.dark(type="button" ng-model="Ctrl.check.news" btn-checkbox).slide-left
					i.fi-social-hacker-news
				button.dark(type="button" ng-model="Ctrl.check.toDo" btn-checkbox).slide-left
					i.fi-checkbox

ui-view(name='weather' ng-if="Ctrl.check.weather")
ui-view(name='news' ng-if="Ctrl.check.news")
ui-view(name='toDo' ng-if="Ctrl.check.toDo")