.align-spaced.grid-block
		masonry(load-image="false").grid-content
			.masonry-brick(ng-repeat="topNews in nCtrl.hackerNews.news")
				.custom-card
					.custom-card-divider
						a#icon(ng-click="nCtrl.favorite()" ng-class="{true: 'visited', false: ''}[isActive]")
							i.fi-social-hacker-news
						a#link(href="{{topNews.url}}"){{topNews.title}}
					.custom-card-section
						.score{{topNews.score}}
						.date{{topNews.time | Time}}
			
			.masonry-brick(ng-repeat="topAsk in nCtrl.hackerNews.ask")
				.custom-card
					.custom-card-divider
						a#icon(ng-click="nCtrl.favorite()" ng-class="{true: 'visited', false: ''}[isActive]")
							i.fi-social-hacker-news
						a#link(href="{{topAsk.url}}"){{topAsk.title}}
					.custom-card-section
						.date Release: {{topAsk.time | Time}}
						.score Score: {{topAsk.score}}

			
			.masonry-brick(ng-repeat="topShow in nCtrl.hackerNews.show")
				.custom-card
					.custom-card-divider
						a#icon(ng-click="nCtrl.favorite()" ng-class="{true: 'visited', false: ''}[isActive]")
							i.fi-social-hacker-news
						a#link(href="{{topShow.url}}"){{topShow.title}}
					.custom-card-section
						.score{{topShow.score}}
						.date{{topShow.time | Time}}
