.align-spaced.grid-block
		masonry(load-image="false" preserve-order).grid-content
			.masonry-brick(ng-repeat='data in wCtrl.data.hourly.data | limitTo:24')
				.weather-card
					.weather-card-divider(ng-style="{'background-color': '{{data.color}}'}")
						p(ng-class="{nightText: data.color === '#071826'}") {{data.summary}} with a
						p(ng-class="{nightText: data.color === '#071826'}") {{data.precipProbability | Percent}} chance of rain
						.icon
							figure
								img(src='../lib/animated-climacons/climacons/src/svg-css/{{data.icon}}', ng-class='data.icon')
					.weather-card-section
						p {{data.time | Time}}
						p {{data.apparentTemperature | limitTo:2}} &#8457
	



