doctype html
html(lang='en-US' ng-app="swiss")
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    title Swiss Army App
    link(rel='stylesheet', href='lib/build.css')
    link(rel="stylesheet", href="lib/foundation-icons/foundation-icons.css")
    link(rel="stylesheet", href="lib/animated-climacons/css/animated-climacons.css")
    link(rel='stylesheet', href='css/main.css')
  body
    .grid-frame
      ui-view.vertical.grid-block

  script(src='lib/build.js')
  script(src='js/main.config.js')
  script(src='js/main.controller.js')
  script(src='js/services.js')
  script(src='js/factory.js')


