masonry {
	margin: 30px auto 10px auto;
	overflow-x: hidden;



	.masonry-brick {
		margin: 5px;
		
		.custom-card {
			background-color: #3B4049;
			border: 0;
			min-width: 180px;
			max-width: 250px;
			height: auto;
			opacity: .8;

		.custom-card-divider {
			display: inline-block;
			background-color: #3B4049;
			padding: .5px;
			line-height: 14px;
			width: 100%;

			a#icon {
			 		i {
						display: inline !important;
						float: right !important;
						font-size: 24px;
						margin: 2px 5px 5px 5px;
						color: #000512;

						&:active {
							color: #00C1E5;
						}

						&:visited {
							color: #00C1E5;
						}
						
					}
			}
			


			a + #link { 
					color: #00C1E5;
					display: inline;
					margin: 4px 2px 0px 5px;
					font-size: 10px;
					float: left;
					max-width: 140px;
			}
		}

		.custom-card-section {
			font-size: 10px;
			color: #A4A6A6;
			margin-left: 3px;
			height: 20px !important;
			margin-top: -1%;


			.score {
				display: inline;
				float: right;
				margin: 3px 3px;
			}

			.date {
				display: inline;
				float: left;
				margin: 3px 3px;
			}

		}

		}
	}
	
}





