label {

	input {
		background-color: $dark;
		opacity: .6;
		margin: 18px 0 0 5px !important;
		height: inherit;
		font-size: 32px;
		font-weight: light;
		border-color: $dark;
		padding: 18px 8px !important;
		color: white !important;
	}

	ul {
	margin-left: 5px;

		li {
			list-style: none;
		}

	}
}

.button-group {

margin-top: 18px;

button {
	padding: 8px 25px;
	margin-left: 4px;
	background-color: $dark;

	&.active {
	background-color: #000512 !important;
	}
}

i {
	font-size: 20px;
	font-weight: light;
}
}